<a href="https://colab.research.google.com/github/FatimaMelo/CursoPython/blob/main/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Seção 1
*Vamos fazer um texto em itálico* 

**Vamos fazer um texto em negrito**

In [2]:
a = 5
b = 10
soma = a + b
print (" a soma é :",soma)

 a soma é : 15

#Seção 2
**Agora vamos fazer um programa para os valores que serão somados através do teclado**

In [4]:
a = int(input("Digite o primeiro número: "))
b = int(input("Digite o  segundo número: "))
soma = a + b
print (" a soma é :",soma)

Digite o primeiro número: 40
Digite o  segundo número: 100
 a soma é : 140

#Seção 3

*Agora Vamos inserir uma imagem*

![fatima.jpg](https://s2.glbimg.com/1o2J-rf2G9qtlQlm82gaq-mFBec=/0x129:1024x952/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/7/i/ME2AxRRoygUyFPCDe0jQ/3.png)

#Seção 5 

** Tabelas **

> Como criar uma tabela 
>>Vamos criar uma tabela com notas escolares

|Aluno|Nota 1|Nota 2|
|---|---|---|
|João da Silva|10,0|5,0|
|Maria Joaquina|5,0|8,0|

##Seção 5.1

**Vamos Criar uma Lista Numerada**

1. Módulo1
1. Módulo2
1. Módulo3

Linha para separar
---



* Módulo1
* Módulo 2
* Módulo 3

In [8]:
import pandas as pd
import numpy as np

d = {'Coluna1':[2,2],'Coluna2':[3,3]}
data = pd.DataFrame()
print (data)

Empty DataFrame
Columns: []
Index: []

# Nova seção